{% extends 'Compounder/home.html' %}
{% from 'Reception/_render_field.html' import render_field %}


{% block content %}
<div class="container">
<div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('comp.view_profile')}}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('comp.update_profile')}}">Update Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="">Change Password</a>
        </li>
      </ul>
    </div>
    <div class="card-body ml-5">
      <h5 class="card-title">Reset Password</h5>
          {% for message in get_flashed_messages() %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
            <!-- Default form subscription -->
        
<!-- Default form subscription -->
        
          <!-- Grid row -->
          <form class = "text-center" method = "post" action = "{{url_for('comp.change_password')}}">
              {{form.hidden_tag()}}
              <div class = "form-row">
                <div class="col-md-4 mb-3">
                    
                    {{ render_field(form.old_password,placeholder = form.old_password.label.text) }}
                </div>
                </div>
                <div class = "form-row">
                    <div class="col-md-4 mb-3">
                        {{ render_field(form.password,placeholder = form.password.label.text) }}
                    </div>
                </div>
                    <div class = "form-row">
                        <div class="col-md-4 mb-3">
                            {{ render_field(form.password2, placeholder = form.password2.label.text) }}
                        </div>
                    </div>
                    <div class = "form-row">
                      <div class="col-md-4 mb-3">
                    <button class="btn btn-info btn-block my-4" type="submit">Update</button> 
                    </div>
                    </div>
          </form>
    </div>
  </div>
</div>
{% endblock %}