{% extends 'Compounder/home.html' %}

{% block links %}
{{super()}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}

{% block heading %}
<h3 >
  <strong>Start Treatment</strong><br>
  <small class="text-muted"></small>
</h3>
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-4">
            <!--Treatment Detail Card -->
            <div class="card">
                <!-- Card content -->
                <div class="card-body">
                <!-- Title -->
                <h4 class="card-title"><b>Treatment Id: </b>{{ treatment.treat_id }}</h4>
                <!-- Text -->
                <b>Started on :  </b>{{ treatment.time_stamp }}<br>
                <b>Patient User ID :  </b>{{ treatment.patient_userid }}<br>
                <b>Patient Name:  </b>{{ treatment.patient_name}}<br>
                <b>Age:  </b>{{ treatment.age}}<br>
                <b>Blood Group:  </b>{{ treatment.blood_group}}<br>
                <b>Gender:  </b>{{ treatment.gender}}<br>
                {% if treatment.doctorid != '' %}
                    <b>Doctor ID:  </b>{{ treatment.doctorid}}<br>
                    <b>Allergies:  </b>{{ treatment.allergies}}<br>
                    <b>Chronic Diseases:  </b>{{ treatment.chronic}}<br>
                {% endif %}
                
                </div>
            </div>
        </div>
        <div class="col">
            <!--Fill Prescription Card -->
            <div class="card">
                <!-- Card content -->
                <div class="card-body">
                    <!-- Title -->
                    <h4 class="card-title">Fill Prescription Form</h4>
                        <!-- Form -->
                        <form method=POST action="{{ url_for('comp.add_prescription', treat_id = treatment.treat_id ) }}">
                            <div class="row">
                                <div class="col">
                                    <p class="card-text">
                                        <div class="form-group">
                                            <label for="temp">Temperature</label>
                                            <input type="number" name="temperature" min="90" max="112" step="0.1" value="97">
                                        </div>
                                    </p>
                                    <p class="card-text">
                                        <div class="form-group">
                                            <label for="BP">Blood Pressure</label><br>
                                            <label for="Sys">  <small class="text-muted">Systolic (mm Hg) </small></label><input type="number" name="Sys"  value="120">
                                            <label for="Dia">  <small class="text-muted">Diastolic (mm Hg) </small></label><input type="number" name="Dia"  value="80">
                                        </div>
                                    </p>
                                    <br>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-3" for="chronic">Chronic</label>
                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                <div class="field_wrapper1">
                                                    <div>
                                                        <input type="text" name="chronic[]" id="chronic" placeholder="Enter Chronic">
                                                        <a href="javascript:void(0);" class="add_button1" title="Add field"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-3" for="allergies">Allergies</label>
                                        <div class="col-md-8 col-sm-8 col-xs-8">
                                            <div class="field_wrapper2">
                                                <div>
                                                    <input type="text" name="allergies[]" id="allergies" placeholder="Enter Allergy">
                                                    <a href="javascript:void(0);" class="add_button2" title="Add field"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <br>
                            <div>    {% if treatment.doctorid == '' %}
                                <div class="form-group">
                                    <label for="doctor">Choose Doctor</label>
                                    <select class="browser-default custom-select mb-4" name="doctor" required="required">
                                        <option value="" selected>userid</option>
                                        {% for row in doctor_list %}
                                            <option value= {{row.username}} >{{row.username}} - {{row.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                    {% endif %}
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Add Prescription</button> 
                        </form>
                        <!--form--->
                </div>
            </div>
            <br>
        </div>
    </div>
</div>
<br>
<br>

{% endblock %}


{% block scripts %}
{{super()}}
<script type="text/javascript">
    $(document).ready(function(){
        var maxField = 10; //Input fields increment limitation
        var addButton = $('.add_button1'); //Add button selector
        var wrapper = $('.field_wrapper1'); //Input field wrapper
        var fieldHTML = '<div class="pt-2"><input type="text" name="chronic[]"  id="reports" placeholder="Enter chronic"/><a href="javascript:void(0);" class="remove_button1"> <i class="fa fa-minus-circle" aria-hidden="true"></i></a></div>'; //New input field html 
        var x = 1; //Initial field counter is 1
        
        //Once add button is clicked
        $(addButton).click(function(){
            //Check maximum number of input fields
            if(x < maxField){ 
                x++; //Increment field counter
                $(wrapper).append(fieldHTML); //Add field html
            }
        });
        
        //Once remove button is clicked
        $(wrapper).on('click', '.remove_button1', function(e){
            e.preventDefault();
            $(this).parent('div').remove(); //Remove field html
            x--; //Decrement field counter
        });
    });
    </script>

<script type="text/javascript">
    $(document).ready(function(){
        var maxField = 10; //Input fields increment limitation
        var addButton = $('.add_button2'); //Add button selector
        var wrapper = $('.field_wrapper2'); //Input field wrapper
        var fieldHTML = '<div class="pt-2"><input type="text" name="allergies[]"  id="allergies" placeholder="Enter allergy"/><a href="javascript:void(0);" class="remove_button2"> <i class="fa fa-minus-circle" aria-hidden="true"></i></a></div>'; //New input field html 
        var x = 1; //Initial field counter is 1
        
        //Once add button is clicked
        $(addButton).click(function(){
            //Check maximum number of input fields
            if(x < maxField){ 
                x++; //Increment field counter
                $(wrapper).append(fieldHTML); //Add field html
            }
        });
        
        //Once remove button is clicked
        $(wrapper).on('click', '.remove_button2', function(e){
            e.preventDefault();
            $(this).parent('div').remove(); //Remove field html
            x--; //Decrement field counter
        });
    });
    </script>
{% endblock %}

