{% extends 'Compounder/home.html' %}

{% block links %}
{{super()}}
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}

{% block heading %}
<h3 >
  <strong>Start Treatment</strong><br>
  <small class="text-muted">faded secondary text</small>
</h3>
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-4">
            <!--Treatment Detail Card -->
            <div class="card">
                <!-- Card content -->
                <div class="card-body">
                <!-- Title -->
                <h4 class="card-title"><b>Treatment Id: </b>{{ treatment.treat_id }}</h4>
                <!-- Text -->
                <b>Started on :  </b>{{ treatment.time_stamp }}<br>
                <b>Patient User ID :  </b>{{ treatment.patient_userid }}<br>
                <b>Patient Name:  </b>{{ treatment.patient_name}}<br>
                <b>Age:  </b>{{ treatment.age}}<br>
                <b>Blood Group:  </b>{{ treatment.blood_group}}<br>
                <b>Gender:  </b>{{ treatment.gender}}<br>
                {% if treatment.doctorid != '' %}
                    <b>Doctor ID:  </b>{{ treatment.doctorid}}<br>
                    <b>Allergies:  </b>{{ treatment.allergies}}<br>
                    <b>Chronic Diseases:  </b>{{ treatment.chronic}}<br>
                {% endif %}
                
                </div>
            </div>
        </div>
        <div class="col">
            <!--Fill Prescription Card -->
            <div class="card">
                <!-- Card content -->
                <div class="card-body">
                    <!-- Title -->
                    <h4 class="card-title">Fill Prescription Form</h4>
                        <!-- Form -->
                        <form method=POST action="{{ url_for('comp.add_prescription', treat_id = treatment.treat_id ) }}">
                            <div class="row">
                                <div class="col">
                                    <p class="card-text">
                                        <div class="form-group">
                                            <label for="temp">Temperature</label>
                                            <input type="number" name="temperature" min="90" max="112" step="0.1" value="97">
                                        </div>
                                    </p>
                                    <p class="card-text">
                                        <div class="form-group">
                                            <label for="BP">Blood Pressure</label><br>
                                            <label for="Sys">  <small class="text-muted">Systolic (mm Hg) </small></label><input type="number" name="Sys"  value="120">
                                            <label for="Dia">  <small class="text-muted">Diastolic (mm Hg) </small></label><input type="number" name="Dia"  value="80">
                                        </div>
                                    </p>
                                    <br>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-3" for="chronic">Chronic</label>
                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                <div class="input-group control-group after-add-more1">
                                                    <input type="text" name="chronic[]" id="chronic" class="form-control" placeholder="Enter chronic disease">
                                                    <div class="input-group-btn"> 
                                                        <button class="btn btn-success add-more1" type="button"><i class="glyphicon glyphicon-plus"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="copy1 hide">
                                            <div class="control-group input-group" style="margin-top:10px">
                                                <input type="text" name="chronic[]" class="form-control" placeholder="Enter chronic disease">
                                                <div class="input-group-btn"> 
                                                    <button class="btn btn-danger remove1" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-3" for="allergies">Allergies</label>
                                        <div class="col-md-8 col-sm-8 col-xs-8">
                                            <div class="input-group control-group after-add-more2">
                                                <input type="text" name="allergies[]" id="allergies" class="form-control" placeholder="Enter Allergy">
                                                <div class="input-group-btn"> 
                                                    <button class="btn btn-success add-more2" type="button"><i class="glyphicon glyphicon-plus"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="copy2 hide">
                                        <div class="control-group input-group" style="margin-top:10px">
                                            <input type="text" name="allergies[]" class="form-control" placeholder="Enter Allergy">
                                            <div class="input-group-btn"> 
                                                <button class="btn btn-danger remove2" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <br>
                            <div>    {% if treatment.doctorid == '' %}
                                <div class="form-group">
                                    <label for="doctor">Choose Doctor</label>
                                    <select class="browser-default custom-select mb-4" name="doctor" required="required">
                                        <option value="" selected>userid</option>
                                        {% for row in doctor_list %}
                                            <option value= {{row.username}} >{{row.username}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                    {% endif %}
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Add Prescription</button> 
                        </form>
                        <!--form--->
                </div>
            </div>
            <br>
        </div>
    </div>
</div>
<br>
<br>

{% endblock %}


{% block scripts %}
{{super()}}
<script>
$(document).ready(function() {
      $(".add-more1").click(function(){
          var html = $(".copy1").html();
          $(".after-add-more1").after(html);
      });
      $("body").on("click",".remove1",function(){ 
          $(this).parents(".control-group").remove();
      });
    });

    $(document).ready(function() {
      $(".add-more2").click(function(){
          var html = $(".copy2").html();
          $(".after-add-more2").after(html);
      });
      $("body").on("click",".remove2",function(){ 
          $(this).parents(".control-group").remove();
      });
    });   
</script>
{% endblock %}

