/* Ensure that the demo table scrolls */
th, td { white-space: nowrap; }
div.dataTables_wrapper {
    width: 800px;
    margin: 0 auto;
}

card {
    background-color: blueviolet;
}

th input {
    width: 90%;
}