{% extends 'Doctor/home.html' %}


{% block heading %}
Ongoing Treatments
{% endblock %}
{% block content %}
{% for row in treatment %}
<a href = "{{url_for('doctor_routes.treatment_info', treat_id = row.treat_id)}}">
<div style="background-color:rgba(154, 199, 201, 0.945);color:hsl(180, 1%, 13%);padding:20px;">
    <p>
        <b>Treatment Id:</b> {{row.treat_id}}<br>
        <b>Started On:</b> {{row.time_stamp}}<br>
        <b>Patient User ID</b> {{row.patient_userid}}<br>
        <b>Patient Name</b> {{row.patient_name}}<br>
    </p>
  </div> 
</a>
{% endfor %}
{% endblock %}

