{% extends 'Doctor/home.html' %}

{% block links %}
{{super()}}
<link rel="stylesheet" href="../../../static/css1/doctor/bootstrap-multiselect.css" type="text/css"/>
 {% endblock %}
{% block heading %}
{% endblock %}


{% block content %}
<div class="container">
        <!-- Heading -->
<div class="card mb-4 wow fadeIn winter-neva-gradient">
  <!--Card content-->
  <div class="card-body">
    <div class="d-flex justify-content-between">
        <h4 class="card-title">Treatment Info</h4><hr>
        <small><a href="{{url_for('doctor_routes.patient_treatment', patient_userid = treatment.patient_userid)}}" target="_blank"> View all Treatments of {{ treatment.patient_userid }} </a></small>
    </div>
    <div class="row">
      <div class="col">
          <b>Treatment Id: </b>{{ treatment.treat_id }}<br>
          <b>Started on :  </b>{{ treatment.time_stamp }}<br>
      </div>
      <div class="col">
        <b>Patient User ID :  </b>{{ treatment.patient_userid }}<br>
        <b>Patient Name:  </b>{{ treatment.patient_name}}<br>
        <b>Doctor ID:  </b>{{ treatment.doctorid}}<br>
        <b>Doctor Name:  </b>{{ treatment.doctor_name}}
    </div>
      <div class="col">
          <b>Age:  </b>{{ treatment.age}}<br>
          <b>Blood Group:  </b>{{ treatment.blood_group}}<br>
          <b>Gender:  </b>{{ treatment.gender}}<br>
      </div>
      <div class="col">
        <b>Allergies:  </b>{%for allergy in treatment.allergies%}{{allergy}}{% endfor %}<br>
        <b>Chronic Diseases:  </b>{% for chron in treatment.chronic%}{{chron}}{% endfor %}
    </div>
    <div class="col">
        <a class="btn btn-outline-black btn-sm" href = "{{url_for('doctor_routes.prescription_history',treat_id = treatment.treat_id)}}" target="_blank" > Prescriptions </a>
        <br>
        <a class="btn btn-outline-black btn-sm" href = "{{url_for('doctor_routes.treatment_reports',treat_id = treatment.treat_id)}}" target="_blank" > Test Reports </a>
    </div>
    </div>
    
  </div>
</div>

    <div class = "row">
        <div class="col-12">
            <!--Fill Prescription Card -->
            <div class="card">
                <!-- Card content -->
                <div class="card-body">
                    <!-- Title -->
                    <h4 class="card-title">Fill Prescription Form</h4>
                        <!-- Form -->
                        <form method=POST action="{{ url_for('doctor_routes.prescription', treat_id = treatment.treat_id ) }}">
                            <div class="row">
                                <div class="col">
                                    <label for="multiselect1">Symptoms</label><br>
                                    <select id="multiselect1" multiple="multiple" name="multiselect1">
                                        {% for row in symptom_list %}
                                            <option value= {{row.name}} >{{row.name}}</option>
                                        {% endfor %}
                                    </select>
                                    <hr>
                                </div>
                                <div class="col">
                                    <label for="multiselect2">Disease</label><br>
                                    <select id="multiselect2" multiple="multiple" name="multiselect2">
                                        {% for row in disease_list %}
                                            <option value= {{row.name}} >{{row.name}}</option>
                                        {% endfor %}
                                    </select>
                                    <hr>
                                </div>
                                <div class="col">
                                    <label for="multiselect3">Medicines</label><br>
                                    <select id="multiselect3" multiple="multiple" name="multiselect3">
                                        {% for row in medicine_list %}
                                            <option value= {{row.name}} >{{row.name}}</option>
                                        {% endfor %}
                                    </select>
                                    <hr>
                                </div>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary">Next</button> 
                        </form>
                        <!--form--->
                </div>
            </div>
            <br>
        </div>
    </div>
</div>
<br>
<br>

{% endblock %}


{% block scripts %}
{{super()}}
<script type="text/javascript" src="../../../static/js_doctor/bootstrap-multiselect.js"></script>

<script>

    $(function() {  
     $('#multiselect1').multiselect({
                enableFiltering: true,
                enableCaseInsensitiveFiltering: true,
                filterPlaceholder: 'Search for something...'
            }); 
    });
    $(function() {  
     $('#multiselect2').multiselect({
                enableFiltering: true,
                enableCaseInsensitiveFiltering: true,
                filterPlaceholder: 'Search for something...'
            }); 
    });
    $(function() {  
     $('#multiselect3').multiselect({
                enableFiltering: true,
                enableCaseInsensitiveFiltering: true,
                filterPlaceholder: 'Search for something...'
            }); 
    });
    </script>
{% endblock %}

