{% extends 'Doctor/home.html' %}

{% block links %}
{{super()}}
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 {% endblock %}
{% block heading %}
{% endblock %}


{% block content %}
<div class="container">
    <div class="card winter-neva-gradient">

        <!--Card content-->
        <div class="card-body justify-content-between">
          <h5>
          <div class="row">
            <div class="col">
                <b>Treatment Id: </b>{{ treatment.treat_id }}<br>
                <b>Started on :  </b>{{ treatment.time_stamp }}<br>
            </div>
            <div class="col">
              <b>Patient User ID :  </b>{{ treatment.patient_userid }}<br>
              <b>Patient Name:  </b>{{ treatment.patient_name}}<br>
              <b>Doctor ID:  </b>{{ treatment.doctorid}}<br>
              <b>Doctor Name:  </b>{{ treatment.doctor_name}}
          </div>
            <div class="col">
                <b>Age:  </b>{{ treatment.age}}<br>
                <b>Blood Group:  </b>{{ treatment.blood_group}}<br>
                <b>Gender:  </b>{{ treatment.gender}}<br>
            </div>
            <div class="col">
              <b>Allergies:  </b>{%for allergy in treatment.allergies%}{{allergy}}{% endfor %}<br>
              <b>Chronic Diseases:  </b>{% for chron in treatment.chronic%}{{chron}}{% endfor %}
          </div>
          <div class="col">
              <a class="btn btn-outline-black btn-sm" href = "{{url_for('doctor_routes.prescription_history',treat_id = treatment.treat_id)}}" target="_blank" > Prescriptions </a>
              <br>
              <a class="btn btn-outline-black btn-sm" href = "#" target="_blank" > Test Reports </a>
          </div>
          </div>
          </h5>
        </div>
      </div>
    <br>
    <!--Fill Prescription Card -->
    <div class="card">
                <!-- Card content -->
                <div class="card-body">
                    <!-- Title -->
                    <h4 class="card-title">Fill Prescription Form</h4>
                        <!-- Form -->
                        <p><b>Symtoms:</b> {%for s in sym%} {{s}}, {%endfor%}</p>
                        <p><b>Disease:</b> {%for d in dis%} {{d}}, {%endfor%}</p>
                        <hr>
                        <form method=POST action="{{ url_for('doctor_routes.prescription_two', treat_id = treatment.treat_id , pres_id = pres_id ) }}">
                            <div class = "row">
                                <div class="col-12">
                            <table  style="font-size:20px;">
                                <thead>
                                    <tr>
                                        <th style="font-size:15px;"><b> Medicine</b> </th>
                                        <th style="font-size:15px;"><b>  Moring Dosage</b></th>
                                        <th style="font-size:15px;"> <b>Afternoon Dosage</b></th>
                                        <th style="font-size:15px;"><b> Night Dosage</b></th>
                                        <th style="font-size:15px;"><b> Quantity</b></th>
                                        <th> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for m in med %}
                                    <tr>
                                        <td style="font-size:15px;">{{m}} </td>
                                        <td style="font-size:10px;"><input type="number" name="{{m}}_morndos" min="0" step="1" value="0" required="required"></td>
                                        <td style="font-size:10px;"><input type="number" name="{{m}}_aftndos" min="0" step="1" value="0" required="required"></td>
                                        <td style="font-size:10px;"><input type="number" name="{{m}}_nightdos" min="0" step="1" value="0" required="required"></td>
                                        <td style="font-size:10px;"><input type="number" name="{{m}}_quantity" min="0" step="1" value="0" required="required"></td>
                                        <td style="font-size:10px;"><select name="Dosage" required="required">
                                            <option style="font-size:10px;" value="" selected>dosage</option>
                                            <option  style="font-size:10px;" value="Empty stomach">Empty stomach</option>
                                            <option style="font-size:10px;" value="After having some food">After having some food</option>                                            
                                            <option style="font-size:10px;" value="Either way">Either way</option>
                                        </select></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                </table>
                                <hr>
                                <div class = "row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-3" for="reports">Reports</label>
                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                <div class="input-group control-group after-add-more2">
                                                    <input type="text" name="reports[]" id="reports" class="form-control" placeholder="Enter Report">
                                                    <div class="input-group-btn"> 
                                                        <button class="btn btn-success add-more2" type="button"><i class="glyphicon glyphicon-plus"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="copy2 hide">
                                            <div class="control-group input-group" style="margin-top:10px">
                                                <input type="text" name="reports[]" class="form-control" placeholder="Enter Report">
                                                <div class="input-group-btn"> 
                                                    <button class="btn btn-danger remove2" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="next_visit_date">Next Visit Date</label>
                                            <input type="date" class="form-control" name="next_visit_date" >
                                        </div>
                                    </div> 
                                    <div class="col-4">
                                        <div class="form-group">
                                        <label id="note"> Note </label>
                                        <textarea class="form-control rounded-0" id="note" rows="3" name="note"></textarea>
                                        </div>
                                    </div>
                                </div>   
                                </div>

                            <br>
                            <button type="submit" class="btn btn-primary">Appointment Done</button> 
                            </div>
                        </form>
                        <!--form--->
            <br>
        </div>
    </div>
</div>
<br>
<br>

{% endblock %}


{% block scripts %}
{{super()}}
<script>


    $(document).ready(function() {
      $(".add-more2").click(function(){
          var html = $(".copy2").html();
          $(".after-add-more2").after(html);
      });
      $("body").on("click",".remove2",function(){ 
          $(this).parents(".control-group").remove();
      });
    });       
    </script>
{% endblock %}

