{% extends 'Doctor/home.html' %}

{% block links %}
{{super()}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 {% endblock %}
{% block heading %}
{% endblock %}
{% block content %}

<div class="container">
    <div class="card winter-neva-gradient">

        <!--Card content-->
        <div class="card-body justify-content-between">
          <div class="row">
            <div class="col">
                <b>Treatment Id: </b>{{ treatment.treat_id }}<br>
                <b>Started on :  </b>{{ treatment.time_stamp }}<br>
            </div>
            <div class="col">
              <b>Patient User ID :  </b>{{ treatment.patient_userid }}<br>
              <b>Patient Name:  </b>{{ treatment.patient_name}}<br>
              <b>Doctor ID:  </b>{{ treatment.doctorid}}<br>
              <b>Doctor Name:  </b>{{ treatment.doctor_name}}
          </div>
            <div class="col">
                <b>Age:  </b>{{ treatment.age}}<br>
                <b>Blood Group:  </b>{{ treatment.blood_group}}<br>
                <b>Gender:  </b>{{ treatment.gender}}<br>
            </div>
            <div class="col">
              <b>Allergies:  </b>{%for allergy in treatment.allergies%}{{allergy}}{% endfor %}<br>
              <b>Chronic Diseases:  </b>{% for chron in treatment.chronic%}{{chron}}{% endfor %}
          </div>
          <div class="col">
              <a class="btn btn-outline-black btn-sm" href = "{{url_for('doctor_routes.prescription_history',treat_id = treatment.treat_id)}}" target="_blank" > Prescriptions </a>
              <br>
              <a class="btn btn-outline-black btn-sm" href = "#" target="_blank" > Test Reports </a>
          </div>
          </div>
        </div>
      </div>
    <br>
    <!--Fill Prescription Card -->
    <div class="card">
                <!-- Card content -->
                <div class="card-body">
                    <!-- Title -->
                    <h4 class="card-title">Fill Prescription Form</h4>
                    <hr>
                        <!-- Form -->
                        <p><b>Symtoms:</b> {%for s in sym%} {{s}}, {%endfor%}</p>
                        <p><b>Disease:</b> {%for d in dis%} {{d}}, {%endfor%}</p>
                        <hr>
                        <form method=POST action="{{ url_for('doctor_routes.prescription_two', treat_id = treatment.treat_id , pres_id = pres_id ) }}">
                            <div class = "row">
                            <div class="col-12">
                            <table  >
                                <thead>
                                    <tr>
                                        <th ><b> Medicine</b> </th>
                                        <th ><b>  Moring Dosage</b></th>
                                        <th > <b>Afternoon Dosage</b></th>
                                        <th ><b> Night Dosage</b></th>
                                        <th ><b> Quantity</b></th>
                                        <th> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for m in med %}
                                    <tr>
                                        <td>{{m}} </td>
                                        <td><input type="number" name="{{m}}_morndos" min="0" step="1" value="0" required="required"></td>
                                        <td ><input type="number" name="{{m}}_aftndos" min="0" step="1" value="0" required="required"></td>
                                        <td ><input type="number" name="{{m}}_nightdos" min="0" step="1" value="0" required="required"></td>
                                        <td ><input type="number" name="{{m}}_quantity" min="0" step="1" value="0" required="required"></td>
                                        <td ><select name="Dosage" required="required">
                                            <option value="" selected>dosage</option>
                                            <option value="Empty stomach">Empty stomach</option>
                                            <option value="After having some food">After having some food</option>                                            
                                            <option value="Either way">Either way</option>
                                        </select></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                </table>
                            </div>
                            </div>
                                <hr>
                            <div class = "row">
                                    <div class="col-4">
                                        <label for="reports">Reports</label>
                                        <div class="field_wrapper">
                                            <div>
                                                <input type="text" name="reports[]" id="reports" placeholder="Enter Report">
                                                <a href="javascript:void(0);" class="add_button" title="Add field" style="color:#008000;" ><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="next_visit_date">Next Visit Date</label>
                                            <input type="date" class="form-control" name="next_visit_date" >
                                        </div>
                                    </div> 
                                    <div class="col-4">
                                        <div class="form-group">
                                        <label id="note"> Note </label>
                                        <textarea class="form-control rounded-0" id="note" rows="3" name="note"></textarea>
                                        </div>
                                    </div>
                            </div>   
                            <hr>

                            <br>
                            
                            <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-primary btn-rounded mb-4" >Appointment Done</button>  
                             </div>
                           
                        </form>
                        <!--form--->
            <br>
        </div>
    </div>
</div>
<br>
<br>

{% endblock %}


{% block scripts %}
{{super()}}
<script type="text/javascript">
    $(document).ready(function(){
        var maxField = 10; //Input fields increment limitation
        var addButton = $('.add_button'); //Add button selector
        var wrapper = $('.field_wrapper'); //Input field wrapper
        var fieldHTML = '<div class="pt-2"><input type="text" name="reports[]"  id="reports" placeholder="Enter Report"/><a href="javascript:void(0);" class="remove_button" style="color:#FF0000;"> <i class="fa fa-minus-circle" aria-hidden="true"></i></a></div>'; //New input field html 
        var x = 1; //Initial field counter is 1
        
        //Once add button is clicked
        $(addButton).click(function(){
            //Check maximum number of input fields
            if(x < maxField){ 
                x++; //Increment field counter
                $(wrapper).append(fieldHTML); //Add field html
            }
        });
        
        //Once remove button is clicked
        $(wrapper).on('click', '.remove_button', function(e){
            e.preventDefault();
            $(this).parent('div').remove(); //Remove field html
            x--; //Decrement field counter
        });
    });
    </script>
{% endblock %}

