{% extends 'Doctor/home.html' %}

{% block links %}
{{super()}}
 {% endblock %}
{% block heading %}
{% endblock %}
{% block content %}

<div class="container">
    <input class="form-control" id="listSearch" type="text" placeholder="Search">
    <br>
    <ul class="list-group" id="myList">
        {% for x in p %}
        <li class="list-group-item">
            
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <img src="https://mdbootstrap.com/img/Photos/Others/men.jpg" class="img-fluid">
                    </div>
                    
                    <div class = "col-6">
                                <h4 ><strong>{{x.name}}</strong></h4>
                                <h6 class="text-muted"><strong>{{x.username}}</strong></h6>
                                <!-- Text -->
                                <p ><b>Age </b> : {{x.age}}<br>
                                    <b>Blood Group </b> :{{x.blood_group}}<br>
                                    <b>Gender </b> :{{x.gender_user}}<br>
                                    <b>Birth Date </b> :{{x.birthdate}}<br>
                                    <b>Address </b> :{{x.address}}<br>
                                    <b>Contact No. </b> :{{x.contact_number}}<br>
                                </p>
                    </div>
                
            </div>
        </li>
        <br>
        {% endfor %}
    </ul>
  </div>
{% endblock %}


{% block scripts %}
{{super()}}
<script>
$(document).ready(function(){
  $("#listSearch").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myList li").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{% endblock %}

