{% extends 'Doctor/home.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <!---form-->
                <form class="text-center border border-light p-5" method=POST action="{{ url_for('doctor_routes.start_treatment') }}">
                    <!--patient username--->
                    <label for="patient_userid" >Patient's Username</label>
                    <select class="browser-default custom-select mb-4" name="patient_userid" required="required">
                        <option value="" selected>userid</option>
                        {% for row in users %}
                            <option value= {{row.username}} >{{row.username}}</option>
                        {% endfor %}
                    </select>
                    <!--patient name--->
                    <label for="patient_name">Patient's Name</label>
                    <input type="text" class="form-control mb-4" name="patient_name" placeholder="patient's name" required="required">
                    <!--submit button-->
                    <button type="submit" class="btn btn-primary btn-block">Submit</button> 
                </form>
                <!--form-->
            </div>
        </div>
    </div>
    {% endblock %}


