{% extends 'Doctor/home.html' %}
{% block title %}  {% endblock %}

{% block links %}
{{super()}}
{% endblock %}

{% block heading %}
<div class="container">
    <!-- Heading -->
    <div class="card mb-4 wow fadeIn winter-neva-gradient">

      <!--Card content-->
      <div class="card-body d-sm-flex justify-content-between">
        <h6>
        <div class="row">
          <div class="col">
              <b>Treatment Id: </b>{{ treatment.treat_id }}<br>
              <b>Started on :  </b>{{ treatment.time_stamp }}<br>
          </div>
          <div class="col">
            <b>Patient User ID :  </b>{{ treatment.patient_userid }}<br>
            <b>Patient Name:  </b>{{ treatment.patient_name}}<br>
            <b>Doctor ID:  </b>{{ treatment.doctorid}}<br>
            <b>Doctor Name:  </b>{{ treatment.doctor_name}}
        </div>
          <div class="col">
              <b>Age:  </b>{{ treatment.age}}<br>
              <b>Blood Group:  </b>{{ treatment.blood_group}}<br>
              <b>Gender:  </b>{{ treatment.gender}}<br>
          </div>
          <div class="col">
            <b>Allergies:  </b>{%for allergy in treatment.allergies%}{{allergy}}{% endfor %}<br>
            <b>Chronic Diseases:  </b>{% for chron in treatment.chronic%}{{chron}}{% endfor %}
        </div>
        </div>
        </h6>
      </div>
    </div>

</div>

{% endblock %}

{% block content %}
  <div class ="container">

    <div class="d-flex justify-content-between">    
        <h4 class="mb-2 mb-sm-0 pt-1">
            Reports
        </h4><a href="{{url_for('doctor_routes.patient_document',role = 'Report')}}">
        <button  >View All Documents</button></a>
    </div>
<br>
      <div class="card ">
        <div class="card-body">
      <table id="dt-filter-select" class="table" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th class="th-sm">Name
            </th>
            <th class="th-sm">Date
            </th>
            <th class="th-sm">Download
            </th>
            <th class="th-sm">View
            </th>
          </tr>
        </thead>
        <tbody>
          {% for doc in report %}
          <tr>
            <td>{{doc.name}}</td>
            <td>{{doc.date}}</td>
            <td><a href="{{url_for('doctor_routes.download',Id = doc.id)}}">Click here</a></td>
            <td><a href="{{url_for('doctor_routes.view_document',Id = doc.id)}}">Click here</a></td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th>Name
            </th>
            <th>Date
            </th>
          </tr>
        </tfoot>
      </table>
      </div>
      </div>
    </div>
  

{% endblock %}

{% block scripts %}
{{super()}}
<script>
  $(document).ready(function () {
  $('#dt-filter-select').dataTable({

    initComplete: function () {
      this.api().columns().every( function () {
          var column = this;
          var select = $('<select  class="browser-default custom-select form-control-sm"><option value="" selected>Search</option></select>')
              .appendTo( $(column.footer()).empty() )
              .on( 'change', function () {
                  var val = $.fn.dataTable.util.escapeRegex(
                      $(this).val()
                  );

                  column
                      .search( val ? '^'+val+'$' : '', true, false )
                      .draw();
              } );

          column.data().unique().sort().each( function ( d, j ) {
              select.append( '<option value="'+d+'">'+d+'</option>' )
          } );
      } );
  }
  });
});
</script>
{% endblock %}