{% extends 'Doctor/home.html' %}


{% block heading %}
{% endblock %}


{% block content %}

<!--Treatment Detail Card -->
<div class="card">
    <!-- Card content -->
    <div class="card-body">
      <!-- Title -->
      <h4 class="card-title"><b>Treatment Id: </b>{{ treatment.treat_id }}</h4>
      <!-- Text -->
      <div class="row">
            <div class="col">
                <p class="card-text">
                <b>Started on :  </b>{{ treatment.time_stamp }}<br>
                <b>Patient User ID :  </b>{{ treatment.patient_userid }}<br>
                <b>Patient Name:  </b>{{ treatment.patient_name}}<br>
                </p>
            </div>
            <div class="col">
                <p class="card-text">                
                <b>Doctors :  </b>
                    {% for doctor in treatment.alldoctors %}
                        {{ doctor }}
                    {% endfor %}<br>
                <b>Past Doctors :  </b>
                    {% for doctor in treatment.doctor_closed %}
                        {{ doctor }}
                    {% endfor %}<br>
                <b>Disease Name :  </b>
                    {{treatment.disease_name}}
                    
                </p>
            </div>
            <div class="col">             
                <button type="submit" class="btn btn-warning"><a href= "{{ url_for('doctor_routes.close_treatment', treat_id = treat_id) }}">Close Treatment</a></button> 
            </div>
        </div>
    </div>
</div>
<!--treatment detail Card  -->
<br>
<!--Actions on treatment -->
<div class="card">
    <!-- Card content -->
    <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <form method=POST action="{{ url_for('doctor_routes.update_disease', treat_id = treat_id) }}">
                            <label for="disease_name">Update Disease Name</label>
                            <input type="text" class="form-control" name="disease_name" required = "required" >
                        <button type="submit" class="btn btn-light">Submit</button> 
                    </form>     
                </div>
                <div class="col-4">  
                    <form method=POST action="{{ url_for('doctor_routes.add_doctor', treat_id = treat_id) }}">                                                  
                        <div  id = "add_doctor">
                            <label for="doctor_inputs">Doctors Involved</label>
                            <br> <input type="text" name="doctor_inputs[]" required = "required" >
                        </div>                
                        <input type="button" value = "add doctor" onClick="addDoctor('add_doctor');">    
                        <button type="submit" class="btn btn-light">Submit</button> 
                    </form>
                </div>
                <div class="col-4">             
                        <form method=POST action="{{ url_for('doctor_routes.refer_info', treat_id = treat_id) }}">
                            <div >
                                <label for="Referto">Refer to</label>
                                <input type="text" class="form-control" name="Referto"  required = "required">
                            </div>                                                   
                            <button type="submit" class="btn btn-light">Submit</button> 
                        </form>
                </div>
            </div>
        </div>
    </div>
<br>
<hr>
<br>

<!--Fill Prescription Card -->
<div class="card">
    <!-- Card content -->
    <div class="card-body">
      <!-- Title -->
      <h4 class="card-title">Fill Prescription Form</h4>
      <!-- Form -->
      <form method=POST action="{{ url_for('doctor_routes.add_prescription', treat_id = treat_id ) }}">
        <div class="row">
            <div class="col">
                <p class="card-text">
                    <div class="form-group">
                        <label for="tests">Test Results</label>
                        <input type="text" class="form-control" name="tests" placeholder="BP/Temperature etc">
                    </div>
                </p>
            </div>
            <div class="col">
                <p class="card-text">
                    <div class="form-group">
                        <label for="diet_plan">Diet Plan</label>
                        <input type="text" class="form-control" name="diet_plan" placeholder="diet plan">
                    </div>
                </p>
            </div>
            <div class="col">
                <p class="card-text">
                    <div class="form-group">
                        <label for="next_visit_date">Next Visit Date</label>
                        <input type="date" class="form-control" name="next_visit_date" >
                    </div>         
                </p>
            </div>
        </div>
        <hr>
        <div class ="row">
            <div class="col">
                <p class="card-text">                
                    <div class="form-group" id = "add_symptoms">
                        <label for="allsymptoms">Symptoms</label>
                        <br> Symptom 1 <input type="text" name="symptoms_inputs[]">
                    </div>                
                    <input type="button" value = "Add Symptoms" onClick="addSymptoms('add_symptoms');">
                </p>
            </div>
            <div class="col">             
                <div class="form-group" id = "add_medicines">
                    <label for="allmedicines">Medicines</label>
                    <br> Medicine 1<input type="text" name="medicines_inputs[]">
                </div>                
                <input type="button" value = "Add Medicines" onClick="addMedicines('add_medicines');"> 
            </div>
            <div class="col">             
                <div class="form-group" id = "add_reports">
                    <label for="allreports">Reports Required</label>
                    <br>Report 1 <input type="text" name="reports_inputs[]">
                </div>                
                <input type="button" value = "Add Reports" onClick="addReports('add_reports');">                
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary btn-block">Add Prescription</button> 
       </form>
    </div>
</div>
<br>
<br>

{% for row in prescriptions %}
<!--Treatment Detail Card -->
<div class="card">
    <!-- Card content -->
    <div class="card-body">
      <!-- Title -->
      <h4 class="card-title"><b>Prescription ID :  </b>{{ row.pres_id }}</h4>
      <!-- Text -->
      <div class="row">
            <div class="col">
                <p class="card-text">
                    <b>Date :  </b>{{ row.time_stamp }}<br>
                    <b>Doctor username :  </b>{{ row.pres_doctor_userid }}<br>
                    <b>Tests:  </b>{{ row.tests}}<br>
                </p>
            </div>
            <div class="col">
                <p class="card-text">                
                <b>Symptoms :  </b>
                {% for symptom in row.symptoms_inputs %}
                {{ symptom }}
                {% endfor %}<br>
                <b>Medicines :  </b>
                {% for medicine in row.medicines_inputs %}
                {{ medicine }}
                {% endfor %} <br>
                <b>Reports Required :  </b>
                {% for report in row.reports_inputs %}
                {{ report }}
                {% endfor %}   
                </p>
            </div>
            <div class="col">  
                <p class="card-text">                             
                <b>Diet Plan :  </b>{{ row.diet_plan }}<br> 
                <b>Next Visit :  </b>{{ row.str_next_visit_date }}<br>
                </p>
            </div>
        </div>
    </div>
</div>
<!--treatment detail Card  -->
<br>
{% endfor %}

{% endblock %}