{% extends 'Doctor/home.html' %}

{% block links %}
{{super()}}
  <!-- Custom styles for this template -->
  <link href="../../../static/css1/doctor/sidebar.css" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="../../../static/css/bootstrap.min.css">
  <!-- Material Design Bootstrap -->
  <link rel="stylesheet" href="../../../static/css/mdb.min.css">
  <!-- Your custom styles (optional) -->
  <link rel="stylesheet" href="../../../static/css/style.css">
 {% endblock %}
{% block heading %}
{% endblock %}
{% block content %}

<div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <img src="data:;base64,{{ image }}" onerror="this.onerror=null;this.src='../../../static/img/user.png';"  class="img-fluid" >
                    </div>
                    
                    <div class = "col-6">
                                <h4 ><strong>{{x.name}}</strong></h4>
                                <h6 class="text-muted"><strong>{{x.username}}</strong></h6>
                                <!-- Text -->
                                <p ><b>Age </b> : {{x.age}}<br>
                                    <b>Blood Group </b> :{{x.blood_group}}<br>
                                    <b>Gender </b> :{{x.gender_user}}<br>
                                    <b>Birth Date </b> :{{x.birthdate}}<br>
                                    <b>Address </b> :{{x.address}}<br>
                                    <b>Contact No. </b> :{{x.contact_number}}<br>
                                </p>
                                <a class="btn btn-outline-black btn-sm"  href="{{url_for('doctor_routes.patient_document',role = 'Report', patient_userid = x.username)}}">
                                    View All Documents
                                </a>
                                <a class="btn btn-outline-black btn-sm" href="{{url_for('doctor_routes.patient_treatment', patient_userid = x.username)}}">
                                     View all Treatments
                                </a>
                    </div>
                
                </div>
</div>
{% endblock %}


{% block scripts %}
{{super()}}
  <!-- jQuery -->
  <script type="text/javascript" src="../../../static/js/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="../../../static/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="../../../static/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="../../../static/js/mdb.min.js"></script>
  <!-- MDBootstrap Datatables  -->
<script type="text/javascript" src="../../../static/js/addons/datatables2.min.js"></script>
{% endblock %}

