{% extends 'layout_doctor.html' %}


{% block navitems %}
<ul class="navbar-nav ml-auto nav-flex-icons">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user"></i>
        {{current_user.username}}
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-default"
        aria-labelledby="navbarDropdownMenuLink-333">
        <a class="dropdown-item" href="{{url_for('login.logout')}}">Logout</a>
        <a class="dropdown-item" href="{{url_for('user.view_profile')}}">Profile</a>
      </div>
    </li>
  </ul>
{% endblock %}