{% extends 'Assistant/base.html' %}

{% block links %}

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
  <!-- Material Design Bootstrap -->
  <link rel="stylesheet" href="../../static/css/mdb.min.css">
  <!-- Your custom styles (optional) -->
  <link rel="stylesheet" href="../../static/css/style.css">
  <!-- MDBootstrap Datatables  -->
    <link href="../../static/css/addons/datatables2.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
{% endblock %}

{% block content %}
  <style>
    #imageUpload
{
    display: none;
}

#profileImage
{
    cursor: pointer;
}

#profile-container {
    width: 300px;
    height: 300px;
    overflow: hidden;
  
}

#profile-container img {
    width: 300px;
    height: 300px;
}
</style>

<br>
<div class = 'card'>
    <div class = 'card-body'>
        <h4 class="card-title"><a>Patient Details</a></h4>
      
        
<form>
  <div class="row">
  
    <!-- Grid column -->
    <div class="col-md-4 offset-md-1 mx-3 my-3">

      <!-- Featured image -->
      <div id="profile-container" class="view overlay">
        <img class='backup_picture' src="data:;base64,{{ image }}" alt="Image not found" onerror="this.onerror=null;this.src='../../../static/img/user.png';"  class="img-fluid" >
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-7 text-md-left ml-3 mt-3">
      <div class="form-row">
        <div class="col-md-5 mb-3">
          <label for="name">Full name</label>
          <input class = "form-control" value = "{{user.name}}" readonly>
          
        </div>

 
    <div class="col-md-5 mb-3">
        <label for="validationCustomUsername">Unique ID</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
          </div>
          <input class = "form-control" value = "{{user.username}}" readonly>
        </div>
      </div>
   
    
      
    </div>
    <div class="form-row">
        <div class="col-md-5 mb-3">
            <label for="birthdate">Birthdate</label>
            <input class = "form-control" value = "{{user.birthdate}}" readonly>            
          </div>
          <div class="col-md-4 mb-3">
            <label for="age">Age</label>
            <input class = "form-control" value = "{{user.age}}" readonly>            
          </div>

    </div>
    <div class="form-row">
      <div class="col-md-7 mb-3">
        <label for="address">Address</label>
        <input class = "form-control" value = "{{user.address}}" readonly>      
      </div>
      
      <div class="col-md-4 mb-3">
        <label for="phonenumber">Contact number</label>
        <input class = "form-control" value = "{{user.contact_number}}" readonly>        
      </div>
    </div>
    <div class="form-row">
        <div class ="col-md-7 mb-3">
            <label for="gender">Gender</label><br>
            <div class = ".custom-control-inline">
              <input class = "form-control" value = "{{user.gender_user}}" readonly>            
            </div>
            
        </div>
        <div class="col-md-4 mb-3">
            <label for="bloodgrp">Blood Group</label>
            <input class = "form-control" value = "{{user.blood_group}}" readonly>          
          </div>

    </div>
  </div>
  </div>
  </form>
</div>
</div>

{% endblock %}
