
      <div class="container" *ngFor="let d of doctors">
          <div class="row">
            <div class="col-sm-4">
              <ul class="list-group">
                  <li class="list-group-item"><b>ID :  </b>{{ d.id }}</li>
                  <li class="list-group-item"><b>Name :  </b>{{ d.doctor_name }}</li>
                  <li class="list-group-item"><b>Qualification :  </b>{{ d.qualification }}</li>
                  <li class="list-group-item"><b>Experience :  </b>{{ d.experience}}</li>
                  <li class="list-group-item"><b>Specialization :  </b>{{ d.specialization}}</li>
                  <li class="list-group-item"><b>Contact :  </b>{{ d.contact}}</li>
                  <li class="list-group-item"><button class="btn btn-primary">Edit</button></li> 
                </ul>
            </div>
            </div>
          </div>
      