{% extends 'layout_doctor.html' %}
{% block navitems %}
<!-- <div class="sidebar-heading">Hospital Management System </div>
      <div class="list-group list-group-flush">
        <a href="{{url_for('doctor_routes.start_treatment')}}" class="list-group-item list-group-item-action bg-light">Start New Treatment</a>
        <a href="{{url_for('doctor_routes.current_treatment_list')}}" class="list-group-item list-group-item-action bg-light">Current Treatments</a>
        <a href="{{url_for('doctor_routes.past_treatments')}}" class="list-group-item list-group-item-action bg-light">Past Treatments</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Search Patient</a>
        <a href="{{url_for('stats.symptoms_stats')}}" class="list-group-item list-group-item-action bg-light">Symptom Stats</a>
        <a href="{{url_for('doctor_routes.query')}}" class="list-group-item list-group-item-action bg-light">Query</a>
      </div>
    </div> -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('doctor_routes.home_page')}}">Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('doctor_routes.treatment_info', treat_id = 6)}}">Current Treatment</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">View Treatments
        </a>
        <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" href="{{url_for('doctor_routes.current_treatment_list')}}">Active</a>
          <a class="dropdown-item" href="#">Closed</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Statistics
        </a>
        <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" href="{{url_for('stats.symptoms_stats')}}">Symptoms</a>
          <a class="dropdown-item" href="#">Diseases</a>
          <a class="dropdown-item" href="#">Visits</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default"
          aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" href="{{url_for('login.logout')}}">Logout</a>
          <a class="dropdown-item" href="{{url_for('doctor_routes.view_profile')}}">Profile</a>
          <a class="dropdown-item" href= "{{url_for('doctor_routes.update_profile')}}">Update Profile</a>
        </div>
      </li>
    </ul>
{% endblock %}


