{% extends 'Reception/base.html' %}


{% block heading %}
<div class="card text-center mb-4 wow fadeIn winter-neva-gradient">

  <!--Card content-->
  <div class="card-body d-sm-flex justify-content-between">

    <h4 class="mb-2 mb-sm-0 pt-1 ">
      Doctor Queue
    </h4>
  </div>
</div>
{% endblock %}

{% block content %}
    

<!-- Card -->
<div class="card">

    <!-- Card content -->
    <div class="card-body">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
 
  
      <!-- Title -->
      <h4 class="card-title"><a>Patient List</a></h4>
      <!-- Text -->
      <p class="card-text"><table id="dt-filter-select" class="table" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th class="th-sm">S.no
            </th>
            <th class="th-sm">Full name
            </th>
            <th class="th-sm">Username
            </th>
            <th class="th-sm">Doctor name
            </th>
            <th class="th-sm">Doctor username
            </th>
            <th class="th-sm">Treatment ID
            </th>
            <th class="th-sm">Timestamp
            </th>
            <th class="th-sm">User Details
            </th>
            <th class="th-sm">Remove
            </th>
          </tr>
        </thead>
        <tbody>
         {% for row in list %}
             <tr>
                 <td>{{loop.index}}</td>
                 <td>{{row.name}}</td>
                 <td>{{row.username}}</td>
                 <td>{{row.doctor}}</td>
                 <td>{{row.doctor_username}}</td>
                 <td>{{row.treat_id}}</td>
                 <td>{{row.timestamp}}</td>
                 <td ><a href="{{url_for('recep.user_details',username = row.username)}}" >Click here</a> </td>
                 <td ><a href="{{url_for('recep.remove_doctor_queue',treat_id = row.treat_id)}}" >Click here</a> </td>
             </tr>
             
</div>

          {% endfor %}   
        </tbody>
        <tfoot>
          <tr>
            <th>S.no
            </th>
            <th>Full name
            </th>
            <th>Username
            </th>
            <th >Doctor name
            </th>
            <th >Doctor username
            </th>
            <th >Treatment ID
            </th>
          </tr>
        </tfoot>
        
      </table></p>
      <div class="card-footer">
      <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='{{ url_for( 'recep.remove_all_doctor_queue')}}';">Remove all</button>
      </div>
  
    </div>
  
  </div>
  

<!-- Modal -->


  <!-- Card -->


{% endblock %}
{% block add_script %}
  <script>
    $(document).ready(function () {
      $('#dt-filter-select').dataTable({
    
        initComplete: function () {
          this.api().columns().every( function () {
              var column = this;
              var select = $('<select  class="browser-default custom-select form-control-sm"><option value="" selected>Search</option></select>')
                  .appendTo( $(column.footer()).empty() )
                  .on( 'change', function () {
                      var val = $.fn.dataTable.util.escapeRegex(
                          $(this).val()
                      );
    
                      column
                          .search( val ? '^'+val+'$' : '', true, false )
                          .draw();
                  } );
    
              column.data().unique().sort().each( function ( d, j ) {
                  select.append( '<option value="'+d+'">'+d+'</option>' )
              } );
          } );
      }
      });
    });
    </script>
    {% endblock %}


