{% extends 'Reception/base.html' %}


{% block content %}

{% for message in get_flashed_messages() %}
  <div class="alert alert-info" role="alert">{{ message }}</div>
{% endfor %}

<!-- Card -->
<div class="card">
    <!-- Card content -->
    <div class="card-body">
  
      <!-- Title -->
      <h4 class="card-title"><a>Patient List</a></h4>
      <!-- Text -->
      <p class="card-text">
        <table id="dt-filter-select" class="table" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th class="th-sm">S.no
            </th>
            <th class="th-sm">Full name
            </th>
            <th class="th-sm">Username
            </th>
            <th class="th-sm">Email
            </th>
            <th class="th-sm">More Details
            </th>
            <th class="th-sm">Send for tests
            </th>
            <th class="th-sm">Add to queue
            </th>
          </tr>
        </thead>
        <tbody>
         {% for row in list %}
             <tr>
                 <td>{{loop.index}}</td>
                 <td>{{row[1].name}}</td>
                 <td>{{row[0].username}}</td>
                 <td>{{row[0].email}}</td>
                 <td ><a href="{{url_for('recep.user_details',username = row[0].username, email = row[0].email)}}" >Click here</a> </td>
                 <td><a  data-toggle="modal" data-target="#modalConfirmDelete{{row[1].username}}"  >Click here</button></td>
                 <td ><a href = "{{url_for('recep.add_to_queue',name = row[1].name, username = row[0].username)}}">Click here</a> </td>   
             </tr>
             <div class="modal fade" id="modalConfirmDelete{{row[1].username}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Are you sure?</p>
      </div>

      <!--Body-->
      <div class="modal-body">

        <i class="fas fa-times fa-4x animated rotateIn"></i>

      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <a href="{{url_for('recep.add_to_compounder_queue', name =row[1].name,username = row[0].username )}}" class="btn  btn-outline-danger">Yes</a>
        <a type="button" class="btn  btn-danger waves-effect" data-dismiss="modal">No</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

          {% endfor %}   
        </tbody>
        <tfoot>
          <tr>
            <th>S.no
            </th>
            <th>Full name
            </th>
            <th>Username
            </th>
            <th>Email
            </th>
          </tr>
        </tfoot>
        
      </table>

    
    </p>
  
    </div>
  
  </div>
  

<!-- Modal -->

{% endblock %}
  <!-- Card -->

  {% block add_script %}
  <script>
    $(document).ready(function () {
      $('#dt-filter-select').dataTable({
    
        initComplete: function () {
          this.api().columns().every( function () {
              var column = this;
              var select = $('<select  class="browser-default custom-select form-control-sm"><option value="" selected>Search</option></select>')
                  .appendTo( $(column.footer()).empty() )
                  .on( 'change', function () {
                      var val = $.fn.dataTable.util.escapeRegex(
                          $(this).val()
                      );
    
                      column
                          .search( val ? '^'+val+'$' : '', true, false )
                          .draw();
                  } );
    
              column.data().unique().sort().each( function ( d, j ) {
                  select.append( '<option value="'+d+'">'+d+'</option>' )
              } );
          } );
      }
      });
    });
    </script>
    {% endblock %}