<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Start Treatment</title>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

</head>
<body>
    <div class="container">
            <div class="row">
            <div class="col-md-4 col-md-offset-4">    
            <h1>Sign In</h1>
            <form action="" method="post" novalidate>
            
        {{ form.hidden_tag() }}
        <div class="form-group">
    
            {{ form.username.label }}
            
            {{ form.username(size=32) }}
        </div>
    
    <div class="form-group">
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </div>
        
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        {{ form.submit() }}</p>
        <p>
            Forgot Your Password?
            <a href="{{ url_for('login.reset_password_request') }}">Click to Reset It</a>
        </p>
        <p>New User?<br> <a href="{{ url_for('register.register_request',role='user') }}">Click to Register as user!</a><br>
        <a href ="{{url_for('register.register_request',role='doctor')}}">Click to Register as doctor</a><br></p>
    </form>
</body>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>

</html>