{% extends 'Authentication/base.html' %}
{% from  'Authentication/_render_field.html' import render_field %}


{% block authentication %}
{% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
            {% endfor %}
            <form class="text-center border border-light p-5" action="{{url_for('register.register_user_request')}}" method="post">
                {{ form.hidden_tag() }}
                <p class="h2 mb-4">Sign up</p>

                    {{ render_field(form.username,placeholder = form.username.label.text) }}
                    {{ render_field(form.email,placeholder = form.email.label.text) }}
                    {{ render_field(form.password,placeholder = form.password.label.text) }}
                    {{ render_field(form.password2,placeholder = form.password2.label.text) }}
            
                <!-- Sign up button -->
                <button class="btn btn-info btn-block my-4" type="submit">Sign up</button>
            </form>

{% endblock %}













