{% extends 'Authentication/base.html' %}
{% from  'Authentication/_render_field.html' import render_field %}

{% block authentication %}
<form class="text-center border border-light p-5" action="{{url_for('login.reset_password_request')}}" method="post">
    <p class="h2 mb-4">Reset Password</p>
    {{form.hidden_tag()}}
    {{ render_field(form.email,placeholder = form.email.label.text) }}
    <button class="btn btn-info btn-block my-4" type="submit">Send change password mail</button>
</form>


{% endblock %}


