{% extends 'Admin/home_page.html' %}


{% block links %}
<link rel="stylesheet" href="../../../static/css/bootstrap.min.css">
  <!-- Material Design Bootstrap -->
  <link rel="stylesheet" href="../../../static/css/mdb.min.css">
  <!-- Your custom styles (optional) -->
  <link rel="stylesheet" href="../../../static/css/style.css">

  <link href="../../../static/css1/simple-sidebar.css" rel="stylesheet">
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="../../../static/js/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="../../../static/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="../../../static/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="../../../static/js/mdb.min.js"></script>
{% endblock %}

{% block heading %}
Specializations
{% endblock %}


{% block content %}
<ul class = "list-group">
    {% for spez in q %}
    <li class = "list-group-item">{{spez}}</li>
    {% endfor %}
</ul>

<br>
<br>
<h3> Add Specialization</h3>
<br>
<form action = "" method="post">

{{form.hidden_tag()}}
{{form.specialization_name.label}}
{{form.specialization_name()}}
{% for error in form.specialization_name.errors %}
<span style="color: red;">[{{ error }}]</span>
{% endfor %}        
{{form.submit()}}
</form>
{% endblock %}

