{% extends 'Admin/home_page.html' %}
{% block title %}  {% endblock %}


{% block heading %}
Doctors
{% endblock %}
{% block content %}
<br>
<br>
<h3>Search doctor by specialization</h3>
<br>
<form action= "{{url_for('admin.doctor_list')}}" method="post">
  {{form.hidden_tag()}}
  {{form.specialization.label}}
  {{form.specialization()}}
  {{form.submit()}}
</form>
<br>
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}
{% for row in q %}
<a href = "{{url_for('admin.doctor_details',username = row[0].username)}}">
<div style="background-color:rgba(154, 199, 201, 0.945);color:hsl(180, 1%, 13%);padding:20px;">
    <p>
        {{row[1].name}}<br>
        {{row[1].specialization}}<br>
        {{row[1].qualification}}<br>
        {{row[1].experience}}<br>
        {{row[0].email}}<br>
        
    </p>
  </div> 
</a>
{% endfor %}
{% endblock %}

