{% extends 'Admin/home_page.html' %}

{% block content %}
<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="">Doctor<span class="badge badge-danger ml-2">{{len_doctor}}</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{{url_for('admin.assistant_registration_requests',role='assistant')}}" >Assistant<span class="badge badge-danger ml-2">{{len_assistant}}</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('admin.assistant_registration_requests',role='compounder')}}">Compounder<span class="badge badge-danger ml-2">{{len_comp}}</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('admin.assistant_registration_requests',role='reception')}}">Receptionist<span class="badge badge-danger ml-2">{{len_recep}}</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('admin.assistant_registration_requests',role='chief_doctor')}}">Chief Medical Officer<span class="badge badge-danger ml-2">{{len_chief}}</span></a>
      </li>
    </ul>
  </div>
  {% for message in get_flashed_messages() %}
      <div class="alert alert-info" role="alert">{{ message }}</div>
  {% endfor %}

  {% for row in q %}
  <div class="jumbotron text-center hoverable p-4">
  <div class="row">
  
    <!-- Grid column -->
    <div class="col-md-4 offset-md-1 mx-2 my-2">

      <!-- Featured image -->
      <div id="profile-container" class="view overlay">
        <img class='backup_picture' src="data:;base64,{{ images[loop.index-1]}}" alt="Image not found" onerror="this.onerror=null;this.src='../../../static/img/user.png';"  class="img-fluid" >
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-7 text-md-left ml-3 mt-3">
      <h4 class="h4 mb-4">{{row.name}} ({{row.username}})<br>
        <small class="text-muted">{{row.email}}</small>
    </h4>
      <dl class="row">
        <dt class="col-sm-3">Specialization</dt>
        <dd class="col-sm-9">{{row.specialization}}</dd>
      
        <dt class="col-sm-3">Experience</dt>
        <dd class="col-sm-9">{{row.experience}}</dd>
      
        <dt class="col-sm-3">Qualification </dt>
        <dd class="col-sm-9">{{row.qualification}}</dd>
        <dt class="col-sm-3">Contact number </dt>
        <dd class="col-sm-9">{{row.contact_number}}</dd>
        <dt class="col-sm-3">Request posted at </dt>
        <dd class="col-sm-9">{{row.timestamp}}</dd>
      
        
      </dl>
      <a class="btn btn-success" href = "{{url_for('admin.action_taken_on_request',username = row.username,action = 'Accept',role='assistant')}}">Accept</a>  
      <a class="btn btn-danger" href = "{{url_for('admin.action_taken_on_request',username = row.username,action = 'Reject',role='assistant')}}">Reject</a>  
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->
</div>
  {% endfor %}
</div>

{% endblock %}


