{% extends 'Admin/home_page.html' %}

{% block content %}
<h2 class='mb-3'>Pending Requests</h2>
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}
<table id="dtBasicExample" class="table" width="100%">
  <thead>
    <tr>
      <th class="th-sm">Name
      </th>
      <th class="th-sm">Username
      </th>
      <th class="th-sm">Email
      </th>
      <th class="th-sm">More Details
      </th>
    </tr>
  </thead>
  <tbody>
   {% for row in q %}
       <tr>
         <td>{{row.name}}</td>
           <td>{{row.username}}</td>
           <td>{{row.email}}</td>
           <td ><a href = "{{url_for('admin.action_reg_request',username = row.username)}}">Click here</a> </td>
       </tr>
    {% endfor %}   
  </tbody>
  
</table>
{% endblock %}


