{% extends 'Admin/home_page.html' %}



{% block content %}



<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="">Doctor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{{url_for('admin.assistant_registration_requests',role='assistant')}}" >Assistant</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('admin.assistant_registration_requests',role='compounder')}}">Compounder</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('admin.assistant_registration_requests',role='reception')}}">Receptionist</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">Doctor Registration Requests </h5>
    <p class="card-text">
      {% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}
<table id="dtBasicExample" class="table" width="100%">
  <thead>
    <tr>
      <th class="th-sm">Name
      </th>
      <th class="th-sm">Username
      </th>
      <th class="th-sm">Email
      </th>
      <th class="th-sm">More Details
      </th>
    </tr>
  </thead>
  <tbody>
   {% for row in q %}
       <tr>
         <td>{{row.name}}</td>
           <td>{{row.username}}</td>
           <td>{{row.email}}</td>
           <td ><a href = "{{url_for('admin.action_reg_request',username = row.username)}}">Click here</a> </td>
       </tr>
    {% endfor %}   
  </tbody>
  
</table>
    </p>
  </div>
</div>

{% endblock %}
