{% extends 'Admin/home_page.html' %}
{% block title %}  {% endblock %}

{% block heading %}
{% endblock %}
{% block content %}
<h2>{{user.username}}</h2>
<body>
    <p>
        Name: {{user.name}}<br>
        Age:  {{user.age}}<br>
        Gender: {{user.gender_user}}<br>
        Blood Group:  {{user.blood_group}}<br>
        Contact Number: {{user.contact_number}}<br>
        Address: {{user.address}}<br>
    </p>
</body>
<button type="button" onclick="window.location.href='{{ url_for( 'admin.delete_user' , username=user.username) }}';">Remove</button>
{% endblock %}