{% extends 'User/home_page.html' %}

{% block links %}
<link rel="stylesheet" href="../../../static/css/bootstrap.min.css">
  <!-- Material Design Bootstrap -->
  <link rel="stylesheet" href="../../../static/css/mdb.min.css">
  <!-- Your custom styles (optional) -->
  <link rel="stylesheet" href="../../../static/css/style.css">

  <link href="../../../static/css1/simple-sidebar.css" rel="stylesheet">
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="../../../static/js/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="../../../static/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="../../../static/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="../../../static/js/mdb.min.js"></script>
{% endblock %}



{% block content %}
<h2>Prescriptions</h2>
{% for row in prescriptions %}
<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <ul class="list-group">
            <li class="list-group-item"><b>Prescription ID :  </b>{{ row.pres_id }}</li>
            <li class="list-group-item"><b>Date :  </b>{{ row.time_stamp }}</li>
            <li class="list-group-item"><b>Doctor username :  </b>{{ row.pres_doctor_userid }}</li>
            <li class="list-group-item"><b>Tests:  </b>{{ row.tests}}</li>
            <li class="list-group-item"><b>Symptoms :  </b>{{ row.symptoms_inputs }}</li> 
            <li class="list-group-item"><b>Medicines :  </b>{{ row.medicines_inputs }}</li> 
            <li class="list-group-item"><b>Diet Plan :  </b>{{ row.diet_plan }}</li> 
            <li class="list-group-item"><b>Reports :  </b>{{ row.reports }}</li> 
            <li class="list-group-item"><b>Next Visit :  </b>{{ row.str_next_visit_date }}</li> 
          </ul>
      </div>
      </div>
    </div>
    <button type="button" onclick="window.location.href='{{ url_for( 'user.add_reports' ,treat_id = treat_id,pres_id =row.pres_id )}}';">Add/Update Reports</button>

{% endfor %}

<a href ="{{url_for('user.current_treatments')}}"><b>Current Treatments</b></a>
{% endblock %}