{% extends 'User/home_page.html' %}
{% block title %}  {% endblock %}


{% block heading %}
Upload Medical Records
{% endblock %}

{% block content %}
<br>
<form action = "{{url_for('user.upload_medical_records_func')}}" method="POST" enctype= "multipart/form-data">

<label for="treat_id">Treatment ID:</label><br>
<input type="number" id="fname" name="treat_id" value="treat"><br><br>
Type Of Document:<br>
<input type="radio" id="male" name="type_doc" value="Prescription">
  <label for="male">Prescription</label><br>
  <input type="radio" id="female" name="type_doc" value="Report">
  <label for="female">Report</label><br>
  <input type="radio" id="other" name="type_doc" value="Invoice">
  <label for="other">Invoice</label><br><br>
  <label for="birthday">Date:</label>
  <input type="date" id="birthday" name="date"><br><br>
  <input type="file" name="in_file"><br><br>
  <input type="submit" value="Upload">
</form>
    


{% endblock %}